* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 62.5%;
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;

    border: 0;
    border-radius: 0.5rem;

    outline: none;
    overflow: scroll hidden;
}

button,
a,
label,
input,
textarea {
    cursor: pointer;
}

h1 {
    font-size: 3rem;
}

#login-main {
    border-radius: 0rem !important;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    width: 100vw;
    min-height: 100vh;

    background: linear-gradient(#e66465, #9198e5);

    aside {
        display: none;
    }

    #login-form {
        width: 100%;
        padding: 2rem;

        background-color: rgba(255, 200, 255, 0.3);
        backdrop-filter: blur(1rem);

        border: 0.1rem solid rgba(255, 200, 255, 0.4);

        display: flex;
        flex-direction: column;

        .error {
            color: #ff0000d6;
            text-align: center;
            padding: 0.3rem;
            border: 0.1rem solid #ff0000d6;
            height: 0rem;
            display: none;
            transition: 0.3s;
        }

        label,
        button,
        .error {
            font-size: 2rem;
            margin-top: 1.5rem;
        }

        input {
            height: 5rem;
            margin: 1rem 0;
            font-size: 1.5rem;
            padding: 0 1rem;

            background-color: rgba(255, 200, 255, 0.5);

            transition: 0.3s;

            &:focus {
                box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
            }
        }

        button {
            height: 5rem;
            background-color: #8c78cc;
        }
    }
}

header {
    width: 100vw;
    height: 6rem;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #fafafa;
    border-bottom: 0.1rem slid #ddd;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;

    button,
    aside a {
        height: 4rem;
        border: 0.2rem solid #e66465;
        background-color: transparent;

        font-size: 1.5rem;
        padding: 1rem;
        display: flex;
        align-items: center;

        span {
            font-size: 2.5rem;
            margin-right: 1rem;
        }
    }

    aside {
        display: flex;
        align-items: center;

        h2 {
            font-size: 1.2rem;
            margin-right: 1rem;
        }

        a {
            display: inline-block;
            padding: 0 1rem;
            line-height: 2.6rem;
            font-size: 1.2rem;
            height: 3rem;
            color: black;
            border-color: #9198e5;
        }
    }
}

#main {
    border-radius: 0rem !important;

    width: 100vw;
    min-height: 100vh;

    background: linear-gradient(#e66465, #9198e5);

    padding: 8rem 4rem 4rem;
    display: flex;
    column-gap: 4rem;

    aside {
        width: 25%;

        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        border: 0.2rem solid rgba(255, 255, 255, 0.2);
        padding: 1rem;

        div {
            cursor: pointer;
            padding: 2rem;
            width: 100%;

            border: 0.2rem solid #fafafa;
            margin-bottom: 2rem;

            &:last-of-type {
                margin-bottom: 0rem;
            }
        }
    }

    article {
        width: 75%;
        margin-left: auto;
        display: flex;
        flex-direction: column;

        ul {
            display: grid;
            grid-template-columns: 15% 15% 15% 10% 20% 20% 5%;
            padding: 1.5rem 0;

            &.first {
                background-color: #fafafa;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                padding: 2rem 0;

                li {
                    span {
                        margin-left: 0.5rem;
                        width: 1rem;
                        display: inline-block;

                        img {
                            opacity: 0.5;
                            width: 100%;
                        }
                    }

                    &.up {
                        img {
                            &:first-of-type {
                                opacity: 1;
                            }
                        }
                    }

                    &.down {
                        img {
                            &:last-of-type {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            li {
                padding: 0 1.5rem;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                button {
                    background-color: rgba(0, 0, 0, 0);

                    img {
                        width: 100%;
                    }
                }

                .tag {
                    background-color: rgba(0, 0, 0, 0.2);
                    padding: 0.3rem;
                    font-size: 1rem;
                    margin: 0.25rem;
                }
            }
        }

        div {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(10px);
            border: 0.2rem solid rgba(255, 255, 255, 0.2);
        }
    }
}

@media only screen and (min-width: 600px) {
    #login-main {
        padding: 2rem;
    }
}

@media only screen and (min-width: 800px) {
    #login-main {
        justify-content: space-between;
        padding: 4rem;
        form {
            width: 48% !important;

            button {
                transition: 0.3s;
                &:focus {
                    transform: scale(1.025);
                }
            }
        }
        aside {
            display: block;
            width: 50%;

            img {
                width: 100%;
            }
        }
    }
}
