* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  border: 0;
  border-radius: 0.5rem;
  outline: none;
  overflow: scroll hidden;
}

button,
a,
label,
input,
textarea {
  cursor: pointer;
}

h1 {
  font-size: 3rem;
}

#login-main {
  border-radius: 0rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 100vw;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#e66465), to(#9198e5));
  background: linear-gradient(#e66465, #9198e5);
}

#login-main aside {
  display: none;
}

#login-main #login-form {
  width: 100%;
  padding: 2rem;
  background-color: rgba(255, 200, 255, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border: 0.1rem solid rgba(255, 200, 255, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#login-main #login-form .error {
  color: #ff0000d6;
  text-align: center;
  padding: 0.3rem;
  border: 0.1rem solid #ff0000d6;
  height: 0rem;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#login-main #login-form label,
#login-main #login-form button,
#login-main #login-form .error {
  font-size: 2rem;
  margin-top: 1.5rem;
}

#login-main #login-form input {
  height: 5rem;
  margin: 1rem 0;
  font-size: 1.5rem;
  padding: 0 1rem;
  background-color: rgba(255, 200, 255, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#login-main #login-form input:focus {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

#login-main #login-form button {
  height: 5rem;
  background-color: #8c78cc;
}

header {
  width: 100vw;
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fafafa;
  border-bottom: 0.1rem slid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
}

header button,
header aside a {
  height: 4rem;
  border: 0.2rem solid #e66465;
  background-color: transparent;
  font-size: 1.5rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header button span,
header aside a span {
  font-size: 2.5rem;
  margin-right: 1rem;
}

header aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header aside h2 {
  font-size: 1.2rem;
  margin-right: 1rem;
}

header aside a {
  display: inline-block;
  padding: 0 1rem;
  line-height: 2.6rem;
  font-size: 1.2rem;
  height: 3rem;
  color: black;
  border-color: #9198e5;
}

#main {
  border-radius: 0rem !important;
  width: 100vw;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#e66465), to(#9198e5));
  background: linear-gradient(#e66465, #9198e5);
  padding: 8rem 4rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

#main aside {
  width: 25%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 0.2rem solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
}

#main aside div {
  cursor: pointer;
  padding: 2rem;
  width: 100%;
  border: 0.2rem solid #fafafa;
  margin-bottom: 2rem;
}

#main aside div:last-of-type {
  margin-bottom: 0rem;
}

#main article {
  width: 75%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main article ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 15% 15% 10% 20% 20% 5%;
      grid-template-columns: 15% 15% 15% 10% 20% 20% 5%;
  padding: 1.5rem 0;
}

#main article ul.first {
  background-color: #fafafa;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 2rem 0;
}

#main article ul.first li span {
  margin-left: 0.5rem;
  width: 1rem;
  display: inline-block;
}

#main article ul.first li span img {
  opacity: 0.5;
  width: 100%;
}

#main article ul.first li.up img:first-of-type {
  opacity: 1;
}

#main article ul.first li.down img:last-of-type {
  opacity: 1;
}

#main article ul li {
  padding: 0 1.5rem;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main article ul li button {
  background-color: rgba(0, 0, 0, 0);
}

#main article ul li button img {
  width: 100%;
}

#main article ul li .tag {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.3rem;
  font-size: 1rem;
  margin: 0.25rem;
}

#main article div {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 0.2rem solid rgba(255, 255, 255, 0.2);
}

@media only screen and (min-width: 600px) {
  #login-main {
    padding: 2rem;
  }
}

@media only screen and (min-width: 800px) {
  #login-main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4rem;
  }
  #login-main form {
    width: 48% !important;
  }
  #login-main form button {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #login-main form button:focus {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  #login-main aside {
    display: block;
    width: 50%;
  }
  #login-main aside img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */