* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  border: 0;
  border-radius: 0.5rem;
  outline: none;
  overflow: hidden scroll;
}

button,
a,
label,
input,
textarea {
  cursor: pointer;
}

h1 {
  font-size: 3rem;
}

#login-main {
  border-radius: 0rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(-30deg, #ff9966, 70%, #ff5e62);
}

#login-main aside {
  display: none;
}

#login-main #login-form {
  width: 100%;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 0.2rem solid rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#login-main #login-form .error {
  color: #ff0000d6;
  text-align: center;
  padding: 0.3rem;
  border: 0.1rem solid #ff0000d6;
  height: 0rem;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#login-main #login-form label,
#login-main #login-form button,
#login-main #login-form .error {
  font-size: 2rem;
  margin-top: 1.5rem;
}

#login-main #login-form input {
  height: 5rem;
  margin: 1rem 0;
  font-size: 1.5rem;
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0.2rem solid rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#login-main #login-form input:focus {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

#login-main #login-form button {
  height: 5rem;
  background-color: #ff6b63;
}

header {
  width: 100vw;
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fafafa;
  border-bottom: 0.1rem slid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
}

header button,
header aside a {
  height: 4rem;
  border: 0.2rem solid #ff6b63;
  background-color: transparent;
  font-size: 1.5rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header button span,
header aside a span {
  font-size: 2.5rem;
  margin-right: 1rem;
}

header aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header aside h2 {
  font-size: 1.2rem;
  margin-right: 1rem;
}

header aside a {
  display: inline-block;
  padding: 0 1rem;
  line-height: 2.6rem;
  font-size: 1.2rem;
  height: 3rem;
  color: black;
  border-color: #9198e5;
}

#main {
  border-radius: 0rem !important;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(-30deg, #ff9966, 70%, #ff5e62);
  padding: 8rem 4rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

#main aside {
  width: 25%;
}

#main aside div {
  padding: 2rem 1rem;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 2rem;
}

#main aside div h2 {
  font-size: 1.5rem;
  text-align: center;
}

#main aside div .tag-box {
  padding: 1rem;
  margin: 1rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main aside div .tag-box span {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.3rem;
  font-size: 1rem;
  margin: 0.25rem;
  margin: 0 0.25rem 0.5rem;
}

#main aside div .category-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

#main aside div .category-box span {
  padding: 0.4rem;
  font-size: 1rem;
  margin: 0 0.25rem 1rem;
}

#main aside div .category-box span:nth-of-type(1) {
  background-color: coral;
}

#main aside div .category-box span:nth-of-type(2) {
  background-color: lightblue;
}

#main aside div .category-box span:nth-of-type(3) {
  background-color: blueviolet;
  color: white;
}

#main aside div .category-box span:nth-of-type(4) {
  background-color: darkgreen;
  color: white;
}

#main aside div .category-box span:nth-of-type(5) {
  background-color: slategray;
}

#main aside div .hour-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0 0;
  padding: 0;
}

#main aside div .hour-box-container .chart {
  width: 80%;
  height: 7rem;
  margin: auto;
  background-color: #fafafa;
  border-radius: 50%;
}

#main aside div .hours-box {
  width: 50%;
  display: block;
  padding: 0rem !important;
  text-align: center;
  margin: 0;
}

#main aside div .hours-box p {
  font-size: 1rem;
  margin-top: 1rem;
  color: gray;
}

#main aside div:last-of-type {
  margin-bottom: 0rem;
}

#main article {
  width: 75%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main article ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 15% 15% 10% 20% 20% 5%;
      grid-template-columns: 15% 15% 15% 10% 20% 20% 5%;
  padding: 1.5rem 0;
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
}

#main article ul:last-of-type {
  border: 0;
}

#main article ul.first {
  background-color: #fafafa;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 2rem 0;
}

#main article ul.first li span {
  margin-left: 0.5rem;
  width: 1rem;
  display: inline-block;
}

#main article ul.first li span img {
  opacity: 0.5;
  width: 100%;
}

#main article ul.first li.up img:first-of-type {
  opacity: 1;
}

#main article ul.first li.down img:last-of-type {
  opacity: 1;
}

#main article ul li {
  padding: 0 1.5rem;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  word-break: break-all;
  word-wrap: break-word;
}

#main article ul li.last {
  padding-left: 0.3rem;
}

#main article ul li button {
  background-color: rgba(0, 0, 0, 0);
}

#main article ul li button img {
  width: 100%;
}

#main article ul li .tag {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.3rem;
  font-size: 1rem;
  margin: 0.25rem;
}

#main article div {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 0.2rem solid rgba(255, 255, 255, 0.2);
}

.shadow-box {
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vw;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shadow-box article {
  width: 40vw;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0.2rem solid rgba(255, 255, 255, 0.2);
  -webkit-transition: all 500ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 500ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -webkit-transform: scale(0);
          transform: scale(0);
  position: relative;
}

.shadow-box article button.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0;
  border-left: 0.2rem solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 0.5rem;
}

.shadow-box article button.close span {
  font-size: 2rem;
  padding-right: 0.5rem;
}

.shadow-box article form {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shadow-box article form h2,
.shadow-box article form label {
  font-size: 1.5rem;
  font-weight: lighter;
}

.shadow-box article form h2.your-range,
.shadow-box article form label.your-range {
  text-align: center;
  margin: -1rem auto 1rem;
}

.shadow-box article form label {
  font-size: 1.5rem;
  margin-bottom: -1.2rem;
  z-index: 2;
}

.shadow-box article form div.container {
  width: 100%;
  padding: 1rem;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  margin: 1.2rem auto 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
}

.shadow-box article form div.container input[type="radio"] {
  height: 0;
  width: 0;
  display: none;
}

.shadow-box article form div.container label {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  margin: 0 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shadow-box article form div.container label.selected {
  background-color: rgba(255, 255, 255, 0.5);
}

.shadow-box article form div.range-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.2rem 0 2rem;
}

.shadow-box article form div.range-box input {
  width: 80%;
}

.shadow-box article form input,
.shadow-box article form textarea {
  width: 100%;
  height: 4rem;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: transparent;
}

.shadow-box article form input[type="range"],
.shadow-box article form textarea[type="range"] {
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 2rem;
}

.shadow-box article form input[type="range"]::-webkit-slider-thumb,
.shadow-box article form textarea[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
}

.shadow-box article form input[type="range"]:focus,
.shadow-box article form textarea[type="range"]:focus {
  background-color: transparent;
}

.shadow-box article form input:focus,
.shadow-box article form textarea:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

.shadow-box article form textarea {
  height: 10rem;
  resize: none;
}

.shadow-box article form .word-counter {
  margin: 0.5rem;
  display: block;
  text-align: right;
  font-size: 1rem;
}

.shadow-box article form .validation {
  display: block;
  text-align: right;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shadow-box article form .validation .validation-char {
  font-size: 1rem;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shadow-box article form .error {
  color: #ff0000;
  font-weight: 400;
}

.shadow-box article form .error .validation-char {
  color: #ff0000;
}

.shadow-box article form .main-error {
  background-color: rgba(200, 0, 0, 0.3);
  border: 0rem solid rgba(200, 0, 0, 0.3);
  padding: 0 1rem;
  font-size: 1.5rem;
  text-align: center;
  height: 0rem;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shadow-box article form .main-error.show {
  height: auto;
  padding: 1rem;
  margin-top: 2rem;
  border-width: 0.1rem;
}

.shadow-box article form button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 2rem;
  height: 5rem;
  background-color: #ff6b63;
  font-size: 1.5rem;
}

.shadow-box article form button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.open-box {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.open-box-opacity {
  opacity: 1 !important;
}

.open-box-come {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

@media only screen and (min-width: 600px) {
  #login-main {
    padding: 2rem;
  }
}

@media only screen and (min-width: 800px) {
  #login-main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4rem;
  }
  #login-main form {
    width: 48% !important;
  }
  #login-main form button {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #login-main form button:focus {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  #login-main aside {
    display: block;
    width: 50%;
  }
  #login-main aside img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */