* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 62.5%;
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;

    border: 0;
    border-radius: 0.5rem;

    outline: none;
    overflow: scroll hidden;
}

button,
a,
label,
input,
textarea {
    cursor: pointer;
}

h1 {
    font-size: 3rem;
}

#login-main {
    border-radius: 0rem !important;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    width: 100vw;
    min-height: 100vh;

    background-image: linear-gradient(-30deg, #ff9966, 70%, #ff5e62);

    aside {
        display: none;
    }

    #login-form {
        width: 100%;
        padding: 2rem;

        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        border: 0.2rem solid rgba(255, 255, 255, 0.2);

        display: flex;
        flex-direction: column;

        .error {
            color: #ff0000d6;
            text-align: center;
            padding: 0.3rem;
            border: 0.1rem solid #ff0000d6;
            height: 0rem;
            display: none;
            transition: 0.3s;
        }

        label,
        button,
        .error {
            font-size: 2rem;
            margin-top: 1.5rem;
        }

        input {
            height: 5rem;
            margin: 1rem 0;
            font-size: 1.5rem;
            padding: 0 1rem;

            background-color: rgba(255, 255, 255, 0.3);
            border: 0.2rem solid rgba(255, 255, 255, 0.2);

            transition: 0.3s;

            &:focus {
                box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
            }
        }

        button {
            height: 5rem;
            background-color: #ff6b63;
        }
    }
}

header {
    width: 100vw;
    height: 6rem;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #fafafa;
    border-bottom: 0.1rem slid #ddd;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;

    button,
    aside a {
        height: 4rem;
        border: 0.2rem solid #ff6b63;
        background-color: transparent;

        font-size: 1.5rem;
        padding: 1rem;
        display: flex;
        align-items: center;

        span {
            font-size: 2.5rem;
            margin-right: 1rem;
        }
    }

    aside {
        display: flex;
        align-items: center;

        h2 {
            font-size: 1.2rem;
            margin-right: 1rem;
        }

        a {
            display: inline-block;
            padding: 0 1rem;
            line-height: 2.6rem;
            font-size: 1.2rem;
            height: 3rem;
            color: black;
            border-color: #9198e5;
        }
    }
}

#main {
    border-radius: 0rem !important;

    width: 100vw;
    min-height: 100vh;

    background-image: linear-gradient(-30deg, #ff9966, 70%, #ff5e62);

    padding: 8rem 4rem 4rem;
    display: flex;
    column-gap: 4rem;

    aside {
        width: 25%;

        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        border: 0.2rem solid rgba(255, 255, 255, 0.2);
        padding: 1rem;

        div {
            padding: 2rem 1rem;
            width: 100%;

            background-color: #fafafa;
            margin-bottom: 2rem;

            h2 {
                font-size: 1.5rem;
                text-align: center;
            }

            .hour-box-container {
                display: flex;
                margin: 1rem 0 0;
                padding: 0;
            }

            .hours-box {
                width: 46%;
                display: block;
                padding: 0rem !important;
                text-align: center;
                margin: 0;

                p {
                    font-size: 1rem;
                    margin-top: 1rem;
                    color: gray;
                }
            }

            &:last-of-type {
                margin-bottom: 0rem;
            }
        }
    }

    article {
        width: 75%;
        margin-left: auto;
        display: flex;
        flex-direction: column;

        ul {
            display: grid;
            grid-template-columns: 15% 15% 15% 10% 20% 20% 5%;
            padding: 1.5rem 0;
            border-bottom: 0.2rem solid rgba(255, 255, 255, 0.2);
            border-radius: 0;

            &:last-of-type {
                border: 0;
            }

            &.first {
                background-color: #fafafa;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                padding: 2rem 0;

                li {
                    span {
                        margin-left: 0.5rem;
                        width: 1rem;
                        display: inline-block;

                        img {
                            opacity: 0.5;
                            width: 100%;
                        }
                    }

                    &.up {
                        img {
                            &:first-of-type {
                                opacity: 1;
                            }
                        }
                    }

                    &.down {
                        img {
                            &:last-of-type {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            li {
                padding: 0 1.5rem;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                word-break: break-all;
                word-wrap: break-word;

                &.last {
                    padding-left: 0.3rem;
                }

                button {
                    background-color: rgba(0, 0, 0, 0);

                    img {
                        width: 100%;
                    }
                }

                .tag {
                    background-color: rgba(0, 0, 0, 0.2);
                    padding: 0.3rem;
                    font-size: 1rem;
                    margin: 0.25rem;
                }
            }
        }

        div {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(10px);
            border: 0.2rem solid rgba(255, 255, 255, 0.2);
        }
    }
}

.shadow-box {
    z-index: 3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border-radius: 0;

    display: none;
    justify-content: center;
    align-items: center;
    padding: 1vw;

    opacity: 0;

    transition: 0.3s;

    article {
        width: 40vw;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.3);
        border: 0.2rem solid rgba(255, 255, 255, 0.2);

        transition: all 500ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
        transform: scale(0);

        position: relative;

        button {
            &.close {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 1.5rem;
                padding: 1rem;
                background-color: transparent;
                display: flex;
                align-items: center;
                border-radius: 0;
                border-left: 0.2rem solid rgba(255, 255, 255, 0.2);
                border-bottom: 0.2rem solid rgba(255, 255, 255, 0.2);
                background-color: rgba(255, 255, 255, 0.2);
                border-bottom-left-radius: 0.5rem;

                span {
                    font-size: 2rem;
                    padding-right: 0.5rem;
                }
            }
        }

        form {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;

            h2,
            label {
                font-size: 1.5rem;
                font-weight: lighter;

                &.your-range {
                    text-align: center;
                    margin: -1rem auto 1rem;
                }
            }

            label {
                font-size: 1.5rem;
                margin-bottom: -1.2rem;
                z-index: 2;
            }

            div {
                &.container {
                    width: 100%;
                    padding: 1rem;
                    border: 0.2rem solid rgba(255, 255, 255, 0.3);
                    margin: 1.2rem auto 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    height: auto;

                    input {
                        &[type="radio"] {
                            height: 0;
                            width: 0;
                            display: none;
                        }
                    }

                    label {
                        background-color: rgba(0, 0, 0, 0.1);
                        padding: 0.5rem;
                        margin: 0 !important;
                        transition: 0.3s;

                        &.selected {
                            background-color: rgba(255, 255, 255, 0.5);
                        }
                    }
                }

                &.range-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 1.2rem 0 2rem;

                    input {
                        width: 80%;
                    }
                }
            }

            input,
            textarea {
                width: 100%;
                height: 4rem;
                border: 0.2rem solid rgba(255, 255, 255, 0.3);
                border-radius: 1rem;
                padding: 1rem;
                font-size: 1.5rem;
                transition: 0.3s;
                background-color: transparent;

                &[type="range"] {
                    border: 0.2rem solid rgba(255, 255, 255, 0.3);
                    background-color: transparent;
                    appearance: none;
                    height: 2rem;

                    &::-webkit-slider-thumb {
                        appearance: none;
                        width: 2rem;
                        height: 2rem;
                        background-color: rgba(255, 255, 255, 0.8);
                        border-radius: 0.5rem;
                    }

                    &:focus {
                        background-color: transparent;
                    }
                }

                &:focus {
                    background-color: rgba(255, 255, 255, 0.6);
                }
            }

            textarea {
                height: 10rem;
                resize: none;
            }

            .word-counter {
                margin: 0.5rem;
                display: block;
                text-align: right;
                font-size: 1rem;
            }

            .validation {
                display: block;
                text-align: right;
                font-size: 1rem;
                text-align: center;
                padding: 1rem;
                transition: 0.3s;

                .validation-char {
                    font-size: 1rem;
                    font-weight: 400;
                    background-color: rgba(0, 0, 0, 0.3);
                    padding: 0.2rem 0.4rem;
                    border-radius: 0.5rem;
                    transition: 0.3s;
                }
            }

            .error {
                color: #ff0000;
                font-weight: 400;

                .validation-char {
                    color: #ff0000;
                }
            }

            .main-error {
                background-color: rgba(200, 0, 0, 0.3);
                border: 0rem solid rgba(200, 0, 0, 0.3);
                padding: 0 1rem;
                font-size: 1.5rem;
                text-align: center;
                height: 0rem;
                display: block;
                transition: 0.3s;

                &.show {
                    height: auto;
                    padding: 1rem;
                    margin-top: 2rem;
                    border-width: 0.1rem;
                }
            }

            button {
                transition: 0.3s;
                margin-top: 2rem;
                height: 5rem;
                background-color: #ff6b63;
                font-size: 1.5rem;

                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }
    }
}

.open-box {
    display: flex !important;
}

.open-box-opacity {
    opacity: 1 !important;
}

.open-box-come {
    transform: scale(1) !important;
}

@media only screen and (min-width: 600px) {
    #login-main {
        padding: 2rem;
    }
}

@media only screen and (min-width: 800px) {
    #login-main {
        justify-content: space-between;
        padding: 4rem;
        form {
            width: 48% !important;

            button {
                transition: 0.3s;
                &:focus {
                    transform: scale(1.025);
                }
            }
        }
        aside {
            display: block;
            width: 50%;

            img {
                width: 100%;
            }
        }
    }
}
